@import './variables';

@font-face {
  font-family: $font-family;
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url('https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2') format('woff2');
  font-display: swap;
}

@import '@fortawesome/fontawesome-free/css/all.css';
@import './reset_config';
@import './navigation';
@import './main_body';
@import './modifiers';
@import './canvas_bg';
@import './animations';
@import './carousel';
